body{
	background-color:green;
	background-image:url(/home/quirky/Downloads/dabraids_files/6539c9f841856ab43f0a1051932acc99.jpg);
}
h1
  {
  	text-align: center;
  	font-size: 40px;
  	color:black;
  }